<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Kitabisa - Indonesia's Fundraising Platform" />
    <meta
      name="description"
      content="Situs donasi dan menggalang dana (fundraising) untuk inisiatif, campaign dan program sosial. Mari bergotong royong membangun Indonesia!"
    />
    <meta name="author" content="Muhammad khotib" />
    <meta property="og:url" content="https://kitabisa.rebase.my.id/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://assets.kitabisa.cc/images/icons/meta/icons-512.png" />
    <meta property="og:title" content="Kitabisa - Indonesia's Fundraising Platform" />
    <meta
      property="og:description"
      content="Situs donasi dan menggalang dana (fundraising) untuk inisiatif, campaign dan program sosial. Mari bergotong royong membangun Indonesia!"
    />
    <meta
      property="og:description"
      content="Situs donasi dan menggalang dana (fundraising) untuk inisiatif, campaign dan program sosial. Mari bergotong royong membangun Indonesia!"
    />
    <meta name="twitter:card" content="product" />
    <meta name="twitter:site" content="@kitabisacom" />
    <meta name="twitter:title" content="Kitabisa - Indonesia's Fundraising Platform" />
    <meta
      name="twitter:description"
      content="Aplikasi donasi dan zakat online untuk inisiatif, penggalangan dana dan program sosial. Mari bergotong royong membangun Indonesia!"
    />
    <meta name="twitter:image" content="https://assets.kitabisa.cc/images/icons/meta/icons-512.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    {{{ linkTags }}} {{{ styleTags }}} {{{ imgToPreload }}}
  </head>
  <body>
    <div id="root">{{{ html }}}</div>
  </body>
  {{{ scriptTags }}} {{{ initialProps }}}
</html>
